<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold mb-4">Welcome to <span class="text-primary"> MedEase 360</span></h1>
    <div class="col-lg-10 mx-auto">
        <p class="lead mb-6 text-secondary">At MedEase 360, we are dedicated to providing comprehensive and compassionate medical care to ensure your health and well-being. Our experienced team of professionals is here to offer personalized treatments and support, making your healthcare journey seamless and stress-free. Whether you're looking for expert advice, innovative treatments, or simply a caring hand, MedEase 360 is your trusted partner in health. Join us on the path to better health and well-being. Welcome to the future of healthcare!</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Primary button</button>
            <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="https://i.postimg.cc/52RRfGyp/robina-weermeijer-z8-Fmfz06c-unsplash.jpg" class="img-fluid border rounded-2 shadow-lg mb-4" alt="Example image" width="800" height="600" loading="lazy">
        </div>
    </div>
</div>
