<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Our Products </h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3" style="border-radius: 6px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 24 24"><path fill="white" d="M20.13 4.155a5 5 0 0 0-4.39-1.07A6 6 0 0 0 12 5.665a6 6 0 0 0-3.72-2.58a5.09 5.09 0 0 0-4.4 1c-1.58 1.38-2.45 4.44-1.46 7.54c.112.342.246.676.4 1c.04.075.077.152.11.23c2.57 5.24 8.51 8 8.77 8.13a.672.672 0 0 0 .31.07a.702.702 0 0 0 .31-.07c.25-.11 6.25-2.85 8.8-8.15l.08-.17c.158-.34.295-.691.41-1.05c.94-3 .08-6.06-1.48-7.46m-.31 7.93c-.14.314-.3.618-.48.91h-3.31a1 1 0 0 1-.83-.45l-1.05-1.56l-2.23 4.46a1 1 0 0 1-.73.54h-.16a1 1 0 0 1-.71-.3l-2.71-2.7H4.7a10.595 10.595 0 0 1-.5-1a6.336 6.336 0 0 1-.38-1h4.21a.999.999 0 0 1 .71.29l2 2l2.38-4.76a1 1 0 0 1 .84-.55a1 1 0 0 1 .89.44l1.7 2.56h3.7a6.572 6.572 0 0 1-.43 1.12"/></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Heart Disease Prediction</h3>
            <p>At MedEase 360, our advanced machine learning tool analyzes your health metrics to assess your risk of heart disease. Get personalized insights and take proactive steps towards better heart health. Visit our Heart Disease Prediction tool today for an instant assessment.</p>
            <a href="#" class="icon-link" target="_blank">
                Click Here.....
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3" style="border-radius: 6px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 64 64"><path fill="white" d="M5.301 49.927c-4.441 0-4.784-4.784-4.784-4.784v-29.99h58.825s4.433-.204 4.433 3.876c0 4.29-3.834 4.055-3.834 4.055H44.237a5.457 5.457 0 0 0-1.247-.307l-12.848-1.622l-14.202-4.093a.853.853 0 0 0-1.057.582c-.13.454.126.949.578 1.081l14.487 4.176c1 .286 1.825.947 2.33 1.857c.503.909.623 1.957.335 2.953a3.868 3.868 0 0 1-1.857 2.328a3.862 3.862 0 0 1-2.936.339c-.006-.002-.013-.002-.021-.002l-6.093-1.767c-3.162-.991-5.516.004-8.014 1.057c-1.923.812-3.91 1.648-6.609 1.832c-.33.021-.678.043-1.085.04a.85.85 0 0 0-.863.844c-.006.474.39.887.863.887c3.622-.002 6.145-1.068 8.37-2.008c2.384-1.006 4.266-1.802 6.837-.994c.006.002.537.156 1.281.369a5.616 5.616 0 0 0-3.234 4.398a5.625 5.625 0 0 0 2.716 5.543a5.091 5.091 0 0 0-2.2 3.579c-.352 2.786 1.631 5.501 4.417 5.771z"/><path fill="white" d="M51.774 46.286h7.782v-1.955h-7.782zm2.919-11.472v2.878h-2.919v1.958h2.919v2.846h1.955V39.65h2.908v-1.958h-2.908v-2.878zm.976 15.36c-4.772 0-7.098-3.893-7.098-7.357c0-5.094 7.098-16.355 7.098-16.355s7.095 11.261 7.095 16.355c0 3.465-2.322 7.357-7.095 7.357M46.147 28.84a3.894 3.894 0 0 1-4.349 3.371l-9.417-1.186a5.555 5.555 0 0 0 1.897-2.837a5.569 5.569 0 0 0-.876-4.875l9.372 1.181a3.896 3.896 0 0 1 3.373 4.347zm-4.551 9.012a3.87 3.87 0 0 1-1.475 2.586a3.872 3.872 0 0 1-2.874.787l-12.905-1.627a3.896 3.896 0 0 1-3.373-4.348a3.857 3.857 0 0 1 1.475-2.584a3.858 3.858 0 0 1 2.872-.789l12.907 1.628a3.895 3.895 0 0 1 3.373 4.346zm-6.021 8.297a3.372 3.372 0 0 1-3.761 2.918l-7.413-.935a3.371 3.371 0 0 1-2.916-3.761a3.371 3.371 0 0 1 3.761-2.915l7.411.934a3.37 3.37 0 0 1 2.918 3.759"/></svg>
            </div>
            <h3 class="fs-2 text-body-emphasis">Diabetes Prediction</h3>
            <p>MedEase 360 offers an advanced machine learning tool to assess your risk of diabetes. By analyzing your health data, we provide personalized insights to help you manage and prevent diabetes. Visit our Diabetes Prediction tool today for an instant assessment.</p>
            <a href="/predict" class="icon-link">
                Click Here.....
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3" style="border-radius: 6px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><path fill="white" d="M12.548 30.753c-10.864-4.582-6.577-20.049.965-22.604c3.129-1.06 6.58 2.457 6.559 4.64c-.01.944-.497 1.865-1.005 2.824c-.666 1.26-1.368 2.585-1.07 4.118c.525 2.7 1.113 7.256-.402 9.418c-1.515 2.163-3.038 2.451-5.047 1.604M34.347 8.149c7.542 2.555 11.83 18.022.965 22.604c-2.009.848-3.532.559-5.047-1.604c-1.515-2.162-.927-6.718-.402-9.418c.298-1.533-.404-2.859-1.07-4.118c-.508-.959-.995-1.88-1.004-2.824c-.022-2.183 3.43-5.7 6.558-4.64M28.618 22.78l.07.997h.013l.003-.001l-.025.003a1.55 1.55 0 0 0-.616.258c-.29.207-.716.665-.716 1.821v14.466h-2V25.858c0-1.766.71-2.847 1.555-3.45a3.55 3.55 0 0 1 1.46-.603a3 3 0 0 1 .16-.02l.016-.002h.01c0-.001.002-.001.07.997m-9.376 0c-.068.997-.069.997-.07.997h-.012l-.003-.001l.024.003a1.55 1.55 0 0 1 .617.258c.29.207.716.665.716 1.821v14.466h2V25.858c0-1.766-.71-2.847-1.556-3.45a3.55 3.55 0 0 0-1.46-.603a3 3 0 0 0-.16-.02l-.015-.002h-.011c0-.001-.001-.001-.07.997"/></svg>
            </div>
            <h3 class="fs-3 text-body-emphasis">Kidney Disease Prediction</h3>
            <p>MedEase 360 offers a sophisticated machine learning tool to assess your risk of kidney disease. By analyzing your health data and lifestyle factors, we provide personalized insights to help you manage and prevent kidney issues. Visit our Kidney Disease Prediction tool today for an instant assessment.</p>
            <a href="#" class="icon-link">
                Click Here.....
                <svg class="bi"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
    </div>
</div>
