<div class="container mt-5">
    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1 mb-4">About Us. <span class="text-body-secondary">See for yourself.</span></h2>
            <p class="text-body-secondary">Welcome to MedEase 360, where we combine technology and healthcare to help you manage your health. Our platform uses advanced machine learning to predict heart disease and diabetes, giving you the tools to make informed decisions about your health.</p>
            <h2 class="featurette-heading fw-normal lh-1 mb-4">Our Mission <span class="text-body-secondary">& Our Technology</span></h2>
            <p class="text-body-secondary">We aim to provide accurate, reliable health predictions to help you stay ahead of potential risks. By focusing on early detection and prevention, we strive to reduce the impact of heart disease and diabetes.</p>
            <p class="text-body-secondary">Our machine learning models analyze health data to predict the likelihood of heart disease and diabetes. This technology empowers you with the knowledge needed to make proactive health choices.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="600" height="600" src="https://i.postimg.cc/52RRfGyp/robina-weermeijer-z8-Fmfz06c-unsplash.jpg">
        </div>
    </div>
</div>
