
    <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
            <h4 class="fst-italic">About</h4>
            <p class="mb-0">Customize this section to tell your visitors a little bit about your medical publication, contributors, and the types of medical content you provide.</p>
        </div>

        <div>
            <h4 class="fst-italic">Recent posts</h4>
            <ul class="list-unstyled">
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#777"></rect>
                        </svg>
                        <div class="col-lg-8">
                            <h6 class="mb-0">Understanding Cardiovascular Diseases</h6>
                            <small class="text-body-secondary">January 15, 2024</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#777"></rect>
                        </svg>
                        <div class="col-lg-8">
                            <h6 class="mb-0">Nutritional Benefits of a Mediterranean Diet</h6>
                            <small class="text-body-secondary">January 14, 2024</small>
                        </div>
                    </a>
                </li>
                <li>
                    <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="#">
                        <svg class="bd-placeholder-img" width="100%" height="96" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                            <rect width="100%" height="100%" fill="#777"></rect>
                        </svg>
                        <div class="col-lg-8">
                            <h6 class="mb-0">Tips for Managing Diabetes Effectively</h6>
                            <small class="text-body-secondary">January 12, 2024</small>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="p-4">
            <h4 class="fst-italic">Categories</h4>
            <ol class="list-unstyled mb-0">
                <li><a href="#" class="link-body-emphasis">Cardiology</a></li>
                <li><a href="#" class="link-body-emphasis">Diabetes</a></li>
                <li><a href="#" class="link-body-emphasis">Nutrition</a></li>
                <li><a href="#" class="link-body-emphasis">Healthy Living</a></li>
            </ol>
        </div>
    </div>

